<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <b>{{ site.descriptionTitle | escape }}</b>
        <p>
          در این دوره، گیت به صورتِ پایه‌ای آموزش داده شده است. این دوره، ترجمه‌ای است از آموزشِ گیتِ ماش‌همدانی. ممنون
          می‌شم با <a href="https://idpay.ir/git-tutorial">این لینک</a> از این کار حمایت کنید.
        </p>
      </div>
      <div class="footer-col">
        <!-- <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p> -->
        {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
          <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
          <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
        {%- endif %}
      </div>

    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>